.Rproj.user
.Rhistory
.RData
.Ruserdata
Eco-KGML/data/data_raw/*
Eco-KGML/data/data_processed/*
.DS_Store
**/output.nc
Eco-KGML/figures/
HABs-ABM/data/FCR_catwalk_EDI_2018_2022.csv
HABs-ABM/ABM_output.rds
HABs-ABM/ABM_output_18hr.rds


